* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.item-1 {
    height: 400px;
    width: 400px;
    background-color: orange;
}
.item-2 {
    height: 400px;
    width: 60%;
    background-color: green;
}
.item-3 {
    height: 400px;
    width: 60vw;
    background-color: blue;
}

body {
    width: 600px;
}
