* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 20px;
    background-color: yellow;
    width: 40vw;
    overflow: scroll;
    margin: 20px auto;

    height: 50vh;
}

div {
    padding: 20px;
    background-color: red;
}

img {
    display: block;
}
